/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    color: #333;
}

p{
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #333;
    margin-bottom: 50px;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #00000006;
    width: 650px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}

#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: #ccc;
}

.search label{
    height: 20px;
}

span{
    color: #ee4827;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

/* CABEÇALHO */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2  {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}


/* CATEGORIAS */
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }

.col-4 img {
    width: 100%;
  }

  .title {
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color: #555;
  }

  .title::after{
    content: '';
    background: #ff7f50;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;

}
/* AVALIAÇÕES */
.rating .fa {
    color: #ff7f50;
}

.rating .fa-star {
    color: #ff7f50;
}

.rating .fa-star-half-o{
    color: #ff8052;
}
.col-4:hover {
    transform: translateY(-5px);
}


/* RODAPÉ */
.footer {
    background: #333;
    color: #fff;
    font-size: 14px;
    padding: 50px 0 20px;
}

.footer p {
    text-align: center;
    padding-left: 100px;
    color: #eae0e0;
    margin-bottom: 50px;

}

/* Menu Responsivo */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle div {
    height: 3px;
    width: 25px;
    color: #eae0e0;
    margin: 4px 0;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

/* Menu Responsivo */
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background:#333;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;

    }
    .mobile-menu {
        display: block;
    }

    .search {
        display: none;
    }
}

.nav-list.active {
    transform: translateX(0)
}

/* ANIMAÇÃO */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

